body {
    margin: 0;
}

#estarlogo {
    position: absolute;
    top: 20px;
    left: 25px;
}    

#title {
    position: absolute;
    font: 16px "Lucida Grande";
    font-weight: bold;
    color: white;
    top:42px;
    left: 25px;
}   

#backbody {
    position: absolute;
    font: 12px "Lucida Grande";
    color: white;
    top:85px;
    left: 25px;
}

#timestamp {
    position: absolute;
    font: 12px "Lucida Grande";
    color: white;
    bottom: 35px;
    left: 20px;
}   

p.popupstatus td {
    position: relative;
    font: 12px "Lucida Grande";
    color: white;
    font-size:0.8em;
} 

#front {
    background: url('Default.png') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 340px;
}

.flip { 
        position:absolute;
        bottom: 22px;
        right: 20px;
        width:13px;
        height:13px;
}

#flip {
        opacity:0;
        background: url(png/InformationButton.png) no-repeat top left;
        z-index:8000;
}

#fliprollie {
        display:none;
        opacity:0.25;
        background: url(png/InformationRollie.png) no-repeat top left;
        z-index:7999;

}

.doneButton {
        position: absolute;
        bottom: 25px;
        right: 18px;
}

#doneText {
    position: absolute;
    font: 18px "Lucida Grande";
    color: white;
    bottom:15px;
    right: 38px;
}

.done a {
    position: absolute;
    font: 18px "Lucida Grande";
    color: white;
    bottom:10px;
    right: 0px;
    height: 36px;
    width: 90px;
    padding:8px 10px 10px 20px;
    background: url("png/Done.png") no-repeat;
    text-decoration: none;
}
.done a:hover { 
    background: url("png/DoneRollie.png") no-repeat;
}
.done a:active {
    background: url("png/DonePress.png") no-repeat;
}

#back {
     background: url('Back.png') no-repeat;
     position: absolute;
     top: 0;
     left: 0;
     width: 560px;
     height: 340px;
     display: none;
} 
