.e {color: #FF0000; font-size: 200%}
.star {color: #666666 }

li img {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.panel img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 2px solid #666666;
  -webkit-border-radius: 6px;
}

.row > p {
  display: block;
  margin: 0;
  border: none;
  padding: 12px 10px 0 110px;
  text-align: left;
  text-decoration: inherit;
  height: 42px;
  box-sizing: border-box;
  color: inherit;
}

#green {
  color: green;
}

#red {
  color: red;
}

#orange {
  color: orange;
}

.row > label {
  text-align: right;
  width: 80px;
  position: absolute;
  margin: 0 0 0 14px;
  line-height: 42px;
  color: #7388a5;
}

.serviceButton {
  display: block;
  margin: 0;
  border: none;
  padding: 12px 10px 0 0px;
  text-align: center;
  font-weight: bold;
  text-decoration: inherit;
  height: 42px;
  color: #7388a5;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
