.e {color: #FF0000; font-size: 200%}
.star {color: #666666 }

#green {
  color: green;
}

#red {
  color: red;
}

#orange {
  color: orange;
}

li img {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.panel img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 2px solid #666666;
  -webkit-border-radius: 6px;
}

.row > p {
  display: block;
  margin: 0;
  border: none;
  padding: 12px 10px 0 110px;
  text-align: left;
  text-decoration: inherit;
  height: 42px;
  box-sizing: border-box;
  color: inherit;
}

.row > label {
  text-align: right;
  width: 80px;
  position: absolute;
  margin: 0 0 0 14px;
  line-height: 42px;
  color: #7388a5;
}

.row > input {
  display: block;
  margin: 0;
  border: none;
  padding: 12px 10px 0 110px;
  text-align: left;
  text-decoration: inherit;
  height: 42px;
  box-sizing: border-box;
  color: inherit;
}

.panel > p {
    position: relative;
    margin: 0 0 20px 0;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    border: 1px solid #999999;
    text-align: justify;
    font-size: 16px;
}

select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  margin: 15px 0 0 0;
  padding: 6px 6px 6px 144px;
  font-size: 16px;
  font-weight: normal;
}  

.row > select {
  display: inline;
  margin: 6px 10px 6px 6px;
  text-align: left;
  width: 140px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
}    

.altLabel {
  position: absolute;
  margin: 16px 16px 0 16px;
  font-size: 14px;
  color: grey;
}

.altInput {
   height: 42px;
   padding: 6px 6px 6px 100px;
}     

.serviceButton {
  display: block;
  margin: 0;
  border: none;
  padding: 12px 10px 0 0px;
  text-align: center;
  font-weight: bold;
  text-decoration: inherit;
  height: 42px;
  color: #7388a5;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
