AuthUserFile /home/estar/www.estar.org.uk/docs/istar/voevent/cgi-bin/.htpasswd
AuthGroupFile /dev/null
AuthName "VOEvent Access"
AuthType Basic
Options +Indexes +FollowSymLinks +Includes +ExecCGI
AddHandler cgi-script .cgi
Require valid-user
