
/* START OF CSS FOR WIDGET CONFIGURATION */

body {
    font: 12px "Lucida Grande";
}


/* FRONT **************************************************************/

    
#form {
    position: absolute;
    font: 12px "Lucida Grande";
    color: white;    
    top: 15px;
    left: 20px;
}  

#form2 {
    position: absolute;
    font: 12px "Lucida Grande";
    color: white;    
    top: 15px;
    right: 20px;
}  

#selectedPanel {
    position: absolute;
    font: 12px "Lucida Grande";
    color: white;    
    top: 60px;
    left: 20px;
    right: 50px;
    bottom: 45px;
}    

#selectedIcon {
    position: absolute;
    top:5px;
    left:0px;
}  

#selectedName{
    position: relative;
    left: 50px;
} 

#selectedPlid{
    position: relative;
    left: 50px;
}  


#selectedVersion{
    position: relative;
    top: -12px;
    left: 230px;
}  

#selectedIvorn{
    position: relative;
    top: -12px;
    left: 50px;
}   
 
#selectedDescription{
    position: relative;
}   

#selectedMessages{
    position: relative; 
} 
 
 
#widgetStatus {
    position: absolute;
    font: 12px "Lucida Grande";
    color: white;
    bottom:25px;
    left: 20px;
} 
  
/* BACK **************************************************************/

#plasticlogo {
    position: absolute;
    top: 20px;
    left: 25px;
}     

#backTitle {
    position: absolute;
    font: 16px "Lucida Grande";
    font-weight: bold;
    color: white;
    top:25px;
    left: 85px;
}   

#backCopyright {
    position: absolute;
    font: 12px "Lucida Grande";
    color: white;
    top:85px;
    left: 25px;
}


#backBody {
    position: absolute;
    font: 12px "Lucida Grande";
    color: white;
    top:100px;
    left: 25px;
}
