AuthUserFile /var/www/html/ukirt/.htpasswd
AuthGroupFile /dev/null
AuthName "UKIRT Access"
AuthType Basic
Options Indexes FollowSymLinks Includes ExecCGI
AddHandler cgi-script .cgi

<Limit GET>
require valid-user
</Limit>
