AuthUserFile /home/estar/www.estar.org.uk/docs/istar/cone/cgi-bin/.htpasswd
AuthGroupFile /dev/null
AuthName "Cone Search Access"
AuthType Basic
Options +Indexes +FollowSymLinks +Includes +ExecCGI
AddHandler cgi-script .cgi
Require valid-user
